<%- include("partials/header"); %>

<main>

    <div class="ui main text container segment inverted">

        <div class="ui huge header"> EDIT: <%= blog.name %></div>

        <form class="ui form inverted" action="/blogs/<%= blog._id %>?_method=PUT" method="post">
            <div class="field">
                <label for="name">Name</label>
                <input id="name" type="text" name="blog[name]" value="<%= blog.name %>">
            </div>
            <div class="field">
                <label for="imageUrl">Image URL</label>
                <input id="imageUrl" type="url" name="blog[imageUrl]" value="<%= blog.imageUrl %>">
            </div>
            <div class="field">
                <label for="description">Description</label>
                <textarea id="description" name="blog[description]"><%- blog.description.trim() %></textarea>
            </div>
            <div class="field">
                <input id="submit" type="submit" value="Save" class="ui green big button">
            </div>
        </form>

    </div>

</main>

<%- include("partials/footer"); %>