<%- include("partials/header"); %>

<main>

    <!--  Gallery Campgrounds  -->
    <div>

        <!-- Iterate campData & display camp image & name -->
        <% blogs.forEach(function (blog) { %>
            <div>
                <h4><%= blog.name %></h4>
                <img src="<%= blog.imageUrl %>" alt="Blog Image">
                <p><%= blog.description.substring(0, 50) %>...</p>
                <p><%= blog.created %></p>
                <a href="/blogs/<%= blog._id %>">Read More</a>
            </div>
            <hr>
        <% }); %>

    </div>

</main>


<%- include("partials/footer"); %>