<%- include("partials/header"); %>

<style>
    main {
        margin: 50px;
    }

    img {
        width: 300px;
        height: 300px;
    }
</style>

<main>

    <!--  Gallery Campgrounds  -->
    <div>

        <!-- Iterate campData & display camp image & name -->
        <% blogs.forEach(function (blog) { %>
            <div>
                <h4><%= blog.name %></h4>
                <img src="<%= blog.imageUrl %>" alt="Blog Image">
                <p><%= blog.description %></p>
                <p><%= blog.created %></p>
            </div>
        <% }) %>

    </div>

</main>


<%- include("partials/footer"); %>