<%- include("partials/header"); %>

<main>

    <div class="ui main text container segment inverted">

        <div class="ui huge header"> <%= blog.name %> </div>

        <div class="ui top attached segment inverted">
            <div class="item">
                <img class="ui centered rounded image" src="<%= blog.imageUrl %>" alt="Blog Image">
                <div class="content"><%= blog.created %></div>
                <div class="description"><%= blog.description %></div>
            </div>
        </div>

    </div>

</main>

<%- include("partials/footer"); %>